<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">More Info<b class="caret"></b></a>
<ul class="dropdown-menu">
    <li role="menuitem">@Html.ActionLink("Tips and Guides", "Guides", "Home", new { Area = ""}, null)</li>
    <li role="menuitem">@Html.ActionLink("Terms and Conditions", "Terms", "Home", new { Area = "" }, null)</li>
    <li role="menuitem">@Html.ActionLink("Privacy Policy", "Privacy", "Home", new { Area = "" }, null)</li>
    <li role="menuitem">@Html.ActionLink("About Us", "About", "Home", new { Area = "" }, null)</li>
    <li role="menuitem">@Html.ActionLink("Help/Contact Us", "Contact", "Home", new { Area = "" }, null)</li>               
</ul>