@model Trinbago_MVC5.Areas.Admin.Models.RegionAddForm
@using Trinbago_MVC5.IdentityExtensions
@{
    ViewBag.Title = "Add Region";
}

<hr class="topbar">
<div class="container">
    <div class="row">
        @{Html.RenderPartial("~/Views/Shared/_MyAccountMenuPartial.cshtml");}
        @using (Html.BeginForm("RegionAdd", "AdminManage", FormMethod.Post, new { @class = "col-md-9" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header"><h1>Add Region To Country&nbsp;<small>(@User.Identity.GetPosterName())</small></h1></div>
                    <div class="card-body">
                        @Html.Hidden("id", Model.CountryId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.CountryId)
                            @Html.EditorFor(model => model.CountryId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Lat)
                            @Html.TextBoxFor(model => model.Lat, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lat)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Lng)
                            @Html.TextBoxFor(model => model.Lng, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lng)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Zoom)
                            @Html.TextBoxFor(model => model.Zoom, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Zoom)
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <input type="submit" class="btn btn-primary btn-sm pull-right" style="margin-left:5px;" value="Create" />
                        @Html.ActionLink("Back to List", "CountryDetails", new { @id = Model.CountryId }, htmlAttributes: new { @class = "btn btn-secondary btn-sm pull-right", style = "margin-right:5px;" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>