@model Trinbago_MVC5.Areas.Account.Models.ResetPassword
@{
    ViewBag.Title = "Reset password";
}
<hr class="topbar">
<div class="container">
    <div class="offset-md-3 col-md-7">
        <div class="card">
            @using (Html.BeginForm("ResetPassword", "Account", new { Area = "Account" }, FormMethod.Post, new { @class = "form-horizontal col-12 p-0", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="card-header text-center font-weight-bold" style="font-size:large;">@ViewBag.Title</div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-sm-4 col-form-label" })
                    <div class="col-12">
                        @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-sm-4 col-form-label" })
                    <div class="col-12">
                        @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-sm-4 col-form-label" })
                    <div class="col-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-12" style="text-align:center">
                        <input type="submit" class="btn btn-primary" style="width:180px;" value="Reset" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>