@model Trinbago_MVC5.Areas.Admin.Models.AdminAdListDetail
@{
    ViewBag.Title = "List Details";
}
<hr class="topbar">

<div class="container" id="listings-page">
    <div class="row">
        <div class="col-sm-12 listing-wrapper listings-top listings-bottom">
            <div class="row">
                <div class="col-sm-7">
                    <h1>@Model.Title</h1>
                    <p>Location: @Model.Country.Name , @Model.Region.Name</p>
                </div>
                <div class="col-sm-5">
                    <p class="price">@Model.Price</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <!--Photo-->
                @if (Model.AdPhotos != null && Model.AdPhotos.Count() > 0 && !Model.Category.Name.Contains("Jobs"))
                {
                    <div class="col-12 center zoom-gallery" style="margin-bottom:10px;">
                        <div class="card">
                            <div class="card-body" id="gallery">
                                <div class="row">                                    
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                                        <div class="photo-container">                                                
                                            <img class="img-fluid photo-img" alt="@Model.SubCategory.Name Image" src="~/Images/@Model.StringId.Substring(2, 4)/@Model.StringId.Substring(0, 4)/@Model.AdPhotos.ElementAt(0).AdDetails_FileName" />                                                
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                        <div class="row">
                                            @foreach (var pho in Model.AdPhotos)
                                            {
                                                <div class="col-3 col-sm-2 col-md-3 col-lg-6" style="padding:5px;">
                                                    <div class="photo-container-thumbnail">
                                                        <img class="img-fluid photo-img-thumbnail" alt="@Model.SubCategory.Name Image" src="~/Images/@Model.StringId.Substring(2, 4)/@Model.StringId.Substring(0, 4)/@pho.AdDetails_FileName" />                                                            
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-sm-7">
                    <h3>Ad details <weak class="bg-info">Views: @Model.Views</weak></h3>
                    <div class="row">
                        @if (Model.AdInfo != null)
                        {
                            if (Model.AdInfo.Count > 0)
                            {
                                <div class="col-6">
                                    <table class="table">
                                        <tbody>
                                            @foreach (var ai in Model.AdInfo)
                                            {
                                                if (!string.IsNullOrEmpty(ai.Description))
                                                {
                                                    if (ai.Name.Equals("Mileage"))
                                                    {
                                                        <tr>
                                                            <th>@ai.Name</th>
                                                            <td>@ai.Description <strong> km</strong></td>
                                                        </tr>
                                                    }
                                                    else if (ai.Name.Equals("Size"))
                                                    {
                                                        <tr>
                                                            <th>@ai.Name</th>
                                                            <td>@ai.Description <strong> sq ft</strong></td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <th>@ai.Name</th>
                                                            <td>@ai.Description</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }

                        <div class="col-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Ad Type:</th>
                                        <td>@Model.AdType</td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>
                                            @{
                                                if (Model.PriceInfo.Equals("Please Contact"))
                                                {
                                                    @Model.PriceInfo
                                                }
                                                else if (Model.PriceInfo.Equals("None"))
                                                {
                                                    @Model.Price
                                                }
                                                else
                                                {
                                                    @Model.Price
                                                    @:&nbsp;<strong class="highlighted">
                                                        @Model.PriceInfo
                                                        @:</strong>
                                                }
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @Html.Raw(Model.Description)
                    <hr />
                    <h3>Admin info</h3>
                    <table class="table-bordered table-striped table-responsive">
                        <tbody>
                            <tr>
                                <th>AdContactName</th>
                                <td>@Model.AdContactName</td>
                            </tr>
                            <tr>
                                <th>AdContactEmail</th>
                                <td><a href="mailto:@Model.AdContactEmail">@Model.AdContactEmail</a></td>
                            </tr>
                            <tr>
                                <th>AdContactPhone</th>
                                <td>@Model.AdContactPhone</td>
                            </tr>
                            <tr>
                                <th>UserName</th>
                                <td>@Model.PosterUserName</td>
                            </tr>
                            <tr>
                                <th>Posted time</th>
                                <td>@Model.TimeStamp.ToLongDateString() @Model.TimeStamp.ToLongTimeString()</td>
                            </tr>
                            <tr>
                                <th>Edited time</th>
                                <td>@((DateTime.Compare(Model.EditTimeStamp, Model.TimeStamp) == 0) ? "Not edited" : Model.EditTimeStamp.ToLongDateString() + " " + Model.EditTimeStamp.ToLongTimeString())</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>