@model Trinbago_MVC5.Areas.ClassifiedAd.Models.ClassifiedAdEmailUserForm
@using Trinbago_MVC5.IdentityExtensions
@using Trinbago_MVC5.Extensions

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Reply to @Model.AdContactName.ToUpper() <span class="d-none d-sm-block">about "@Model.Title"</span></h4>            
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        @using (Ajax.BeginForm("EmailUser", "ClassifiedAd", new { Area = "ClassifiedAd" }, new AjaxOptions { UpdateTargetId = "myModal" }, htmlAttributes: new { @class = "form-vertical" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="modal-body">
                <fieldset>
                    @Html.HiddenFor(model => model.ItemUrl)
                    @Html.HiddenFor(model => model.StringId)
                    @Html.HiddenFor(model => model.Title)
                    @Html.HiddenFor(model => model.AdContactName)
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Message)
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.Message, htmlAttributes: new { @class = "form-control", rows = "4", style = "max-width:100%;" })
                                        @Html.ValidationMessageFor(model => model.Message)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name)
                                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", placeholder = "Enter your name", @Value = User.Identity.Name })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.From)
                                @Html.TextBoxFor(model => model.From, htmlAttributes: new { @class = "form-control", placeholder = "Enter email", @Value = User.Identity.GetUserEmail() })
                                @Html.ValidationMessageFor(model => model.From)
                            </div>

                            <div class="alert alert-info d-none d-sm-block">
                                <p>
                                    Follow these simple steps for a safe and successful buying experience:<br />
                                    1. Make sure the ad contains adequate information about the item for sale.<br />
                                    2. You should <em>NOT</em> need to contact the seller to detemine what he/she is Offering.<br />
                                    3. Meet face to face to see the item and exchange money.<br />
                                    4. Meet in an open, public location.<br />
                                    5. Make sure you are completely happy with the item before handing over any money. <br />
                                    6. Although we do not recommend paying for an item you haven't seen, if you are planning to do this, please use a secure payment method.<br />
                                </p>
                            </div>
                            @Html.Recaptcha2()
                            @Html.ValidationMessage("g-recaptcha-response", new { @class = "text-danger"})                        
                        </div>

                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Submit" class="btn btn-primary pull-right" />
            </div>
        }
    </div>
</div>