@model Trinbago_MVC5.Models.AdInfoPartial
<div id="accordianAI" class="card mb-2">
    <button type="button" class="btn btn-link card-header" data-toggle="collapse" data-target="#collapseAdInfo" aria-expanded="false" aria-controls="collapseAdInfo" style="text-decoration:none;">Click For More Ad Info <span class="fa fa-plus"></span></button>
    <div id="collapseAdInfo" class="collapse" data-parent="#accordianAI">
        <div class="card-body">
            <div class="form-horizontal">
                <div class="row">
                    @{
                        int cal = 0;
                        foreach (var item in Model.AdInfo)
                        {
                            @Html.Hidden("AdInfo[" + cal + "].Name", item.Name)
                            if (item.Name.Equals("Species"))
                            {
                                <div class="form-group col-12 col-sm-6">
                                    <label class="col-form-label">@item.Name</label>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 p-0">
                                        @Html.DropDownList("AdInfo[" + cal + "].Description", Model.SelectListForm.SingleOrDefault(x => x.Name == "SpeciesList").List ,"-Please Select-", new
                                        {
                                            @class = "form-control",
                                            @data_val = "true"
                                        })
                                        @Html.ValidationMessage("AdInfo[" + cal + "].Description", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }
                            if (item.Name.Equals("Coordinates"))
                            {
                                @Html.Hidden("AdInfo[" + cal + "].Description", item.Description)
                            }
                            cal++;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
