@*@model Trinbago_MVC5.Controllers.PromoteAd
<div class="card">
    <div class="card-header">Ad Promotion Cart</div>
    <div class="card-body">
        <form class="form-vertical">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        @{
                            if (Model.CartItems != null && Model.CartItems.Count() > 0)
                            {
                                var calctotal = 0.0;
                                foreach (var ad in Model.CartItems)
                                {
                                    @:<div class="col-sm-12 panel panel-default" id="ajaxAdList">
                                        @:<div class="card-body">
                                    if (ad.ClassifiedAdAdPhoto != null)
                                    {
                                        <div class="col-12 col-sm-4 col-md-5 col-lg-2" style="margin-bottom:5px;">
                                            <a class="thumbnail mypromolist"><img alt="Image" src="~/Images/@ad.ClassifiedAdStringId.Substring(2, 4)/@ad.ClassifiedAdStringId.Substring(0, 4)/@ad.ClassifiedAdAdPhoto"></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-sm-4 col-md-5 col-lg-2" style="margin-bottom:5px;">
                                            <a class="thumbnail mypromolist"><img alt="Image" src="/images/TH/noimage.png"></a>
                                        </div>
                                    }
                                    <div class="col-12 col-sm-8 col-md-7 col-lg-10" style="height:90px;margin-bottom:5px;">
                                        <h2>@ad.ClassifiedAdTitle</h2>
                                    </div>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            @if (ad.BumpAdPIDays.HasValue)
                                                            {
                                                                calctotal += ad.BumpAdPIPrice.Value;

                                                                <th>
                                                                    @Html.Label("Bump Ad")
                                                                </th>
                                                                <td>
                                                                    <p>@string.Format("Every {0} Days For {1} Days {2:C}", ad.BumpAdPIInterval.Value, ad.BumpAdPIDays.Value, ad.BumpAdPIPrice.Value)</p>
                                                                </td>
                                                            }
                                                            @if (ad.TopAdPIDays.HasValue)
                                                            {
                                                                calctotal += ad.TopAdPIPrice.Value;

                                                                <th>
                                                                    @Html.Label("Top Ad")
                                                                </th>
                                                                <td>
                                                                    <p>@string.Format("{0} Days, {1:C}", ad.TopAdPIDays.Value, ad.TopAdPIPrice.Value)</p>
                                                                </td>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            @if (ad.FeaturedAdPIDays.HasValue)
                                                            {
                                                                calctotal += ad.FeaturedAdPIPrice.Value;

                                                                <th>
                                                                    @Html.Label("Featured Ad")
                                                                </th>
                                                                <td>
                                                                    <p>@string.Format("{0} Days, {1:C}", ad.FeaturedAdPIDays.Value, ad.FeaturedAdPIPrice.Value)</p>
                                                                </td>
                                                            }
                                                            @if (ad.UrgentAdPIDays.HasValue)
                                                            {
                                                                calctotal += ad.UrgentAdPIPrice.Value;

                                                                <th>
                                                                    @Html.Label("Urgent Ad")
                                                                </th>
                                                                <td>
                                                                    <p>@string.Format("{0:C0}", ad.UrgentAdPIPrice.Value)</p>
                                                                </td>
                                                            }
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                    @Ajax.ActionLink("Remove", "RemovePromotionFromCart", "Promotion", new { @StringId = ad.ClassifiedAdStringId, @PageNumber = Model.MyOpenAds.PageNumber }, new AjaxOptions { UpdateTargetId = "myPromoteContainer" }, new { @class = "btn btn-sm btn-warning pull-right" })
                                                    @:</div>
                                                    @:</div>
                                            }

                                <div class="pull-right">
                                    <b>Calculated Total:</b>&nbsp;@string.Format("{0:C0}", calctotal)
                                    @Html.ActionLink("Confirm Selection", "ConfirmCartItemsPurchase", "Promotion", new { @class = "btn btn-sm btn-success" })
                                </div>

                            }
                            else
                            {
                                @:<p>No ads in cart</p>
                            }
                        }
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="card-header">Your Open Ads</div>
    <div class="card-body" style="background-color:#f5f5f5;">
        <div class="col-md-12" id="ajaxNonPromotedAds">
            @{Html.RenderPartial("_MyOpenAdsPartial", Model.MyOpenAds);}
        </div>
    </div>
</div>*@

